[Unit]
Description=Vyatta IKE SA Daemon
PartOf=strongswan.service
After=strongswan.service
ConditionPathExists=/var/run/charon.vici

[Service]
Type=notify
ExecStart=/opt/vyatta/sbin/vyatta-ike-sa-daemon
Restart=on-failure

[Install]
WantedBy=strongswan.service
